<div class="card">
  <div class="card-body">
    Product List
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.productCode}}</td>
          <td>{{product.productName}}</td>
          <td>
            <app-star-rating [rating]=4 (ratingClicked)="changeStarRating($event)"></app-star-rating>
          </td>
          <td>View Edit Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
